# Imports

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import plotly as py
import plotly.express as px
py.offline.init_notebook_mode(connected = True)
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

In [2]:
'''Import the e-commerce csv to a pandas df'''
df = pd.read_csv('data.csv',encoding= 'ISO-8859-1')
global separator
separator = '\n***********************************************************************\n'

# Basic info, describe and summary on the data set to get an initial feel of it.

In [3]:
print(separator)
print(df.info())
print(separator)
print(df.describe())
print(separator)
print(df.head())
print(separator)
print(df.memory_usage(deep=True))
print(separator)

***********************************************************************

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7685 entries, 0 to 7684
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Full Name        7685 non-null   object
 1   Description      7638 non-null   object
 2   Job              7574 non-null   object
 3   Education Place  1675 non-null   object
 4   Native Language  572 non-null    object
 5   Country          7685 non-null   object
 6   Father           360 non-null    object
 7   Mother           214 non-null    object
 8   Spouse           872 non-null    object
 9   Birth Date       6322 non-null   object
 10  Death Date       1155 non-null   object
 11  Birth Place      5110 non-null   object
 12  Death Place      620 non-null    object
 13  Death Method     130 non-null    object
 14  Death Reason     176 non-null    object
dtypes: object(15)
memory usage: 900.7+ KB
None

***********************************************************************

          Full Name     Description    Job         Education Place  \
count          7685            7638   7574                    1675
unique         7576            2095    348                     498
top     Neetu Singh  Indian Actress  Actor  University Of Calcutta
freq              3            1639   2534                     150

       Native Language Country                Father       Mother  \
count              572    7685                   360          214
unique              17      26                   314          185
top               Odia   India  Deenanath Mangeshkar  Manik Varma
freq               252    7471                     4            3

               Spouse  Birth Date  Death Date Birth Place Death Place  \
count             872        6322        1155        5110         620
unique            846        4723        1033        1073         184
top     Kishore Kumar  2000-00-00  1990-01-01      Mumbai      Mumbai
freq                3          32           6         651         106

          Death Method           Death Reason
count              130                    176
unique               5                     54
top     Natural Causes  Myocardial Infarction
freq                75                     28

***********************************************************************

         Full Name                                       Description  \
0    Shanta Shelke                           Marathi Poet And Writer
1    Sonali Bendre                          Indian Actress And Model
2    Indira Gandhi  Indian Prime Minister And Politician (1917-1984)
3      Baby Halder                       Indian Housemaid And Author
4  Genelia D'Souza                                    Indian Actress

          Job               Education Place Native Language Country  \
0        Poet                           NaN             NaN   India
1       Model            Kendriya Vidyalaya           Hindi   India
2  Politician            Somerville College             NaN   India
3      Writer                           NaN         Bengali   India
4       Actor  St. Andrew'S College, Mumbai             NaN   India

             Father        Mother            Spouse  Birth Date  Death Date  \
0               NaN           NaN               NaN  1922-10-19  2002-06-06
1               NaN           NaN       Goldie Behl  1975-01-01         NaN
2  Jawaharlal Nehru  Kamala Nehru     Feroze Gandhi  1917-11-19  1984-10-31
3               NaN           NaN               NaN  1973-06-19         NaN
4               NaN           NaN  Riteish Deshmukh  1982-08-05         NaN

  Birth Place Death Place    Death Method      Death Reason
0        Pune         NaN  Natural Causes            Cancer
1      Mumbai         NaN             NaN               NaN
2   Allahabad   New Delhi        Homicide  Ballistic Trauma
3     Kashmir         NaN             NaN               NaN
4      Mumbai         NaN             NaN               NaN

***********************************************************************

Index                 128
Full Name          546755
Description        594284
Job                497942
Education Place    328507
Native Language    263522
Country            478464
Father             260377
Mother             254136
Spouse             280247
Birth Date         467193
Death Date         286345
Birth Place        415206
Death Place        266255
Death Method       250636
Death Reason       252781
dtype: int64

***********************************************************************

# Reformatting of column names and memory optimisation

In [4]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
print(df.head())
      
"""Let's optimise the memory a bit."""

df["job"] = df["job"].astype("category")
df["native_language"] = df["native_language"].astype("category")
df["country"] = df["country"].astype("category")
print(separator)
print(df.memory_usage(deep=True))
print(separator)

         full_name                                       description  \
0    Shanta Shelke                           Marathi Poet And Writer
1    Sonali Bendre                          Indian Actress And Model
2    Indira Gandhi  Indian Prime Minister And Politician (1917-1984)
3      Baby Halder                       Indian Housemaid And Author
4  Genelia D'Souza                                    Indian Actress

          job               education_place native_language country  \
0        Poet                           NaN             NaN   India
1       Model            Kendriya Vidyalaya           Hindi   India
2  Politician            Somerville College             NaN   India
3      Writer                           NaN         Bengali   India
4       Actor  St. Andrew'S College, Mumbai             NaN   India

             father        mother            spouse  birth_date  death_date  \
0               NaN           NaN               NaN  1922-10-19  2002-06-06
1               NaN           NaN       Goldie Behl  1975-01-01         NaN
2  Jawaharlal Nehru  Kamala Nehru     Feroze Gandhi  1917-11-19  1984-10-31
3               NaN           NaN               NaN  1973-06-19         NaN
4               NaN           NaN  Riteish Deshmukh  1982-08-05         NaN

  birth_place death_place    death_method      death_reason
0        Pune         NaN  Natural Causes            Cancer
1      Mumbai         NaN             NaN               NaN
2   Allahabad   New Delhi        Homicide  Ballistic Trauma
3     Kashmir         NaN             NaN               NaN
4      Mumbai         NaN             NaN               NaN

***********************************************************************

Index                 128
full_name          546755
description        594284
job                 49621
education_place    328507
native_language      9406
country             10704
father             260377
mother             254136
spouse             280247
birth_date         467193
death_date         286345
birth_place        415206
death_place        266255
death_method       250636
death_reason       252781
dtype: int64

***********************************************************************